################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

obj
.vs
bin
/DataLayer/ApalDb_log.ldf
/DataLayer/ApalDb.mdf
